.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customers-title {
  text-align: center;
}

.customers-footer {
  padding: 1rem;
  text-align: center;
}
